* {
  box-sizing: border-box;
}

body {
  padding-bottom: 25px;
  background-color: #ffffff;
  //transparenttextures.com user Waseem Dahman background
  background-image: url("http://learningdevsite.com/resources/bright-squares.png");
}

.btn:hover {
  color: #18BC9C !important;
}

.btn-info:hover {
  background-color: #0F85D1 !important;
}

.description {
  min-height: 75px;
}